.register-screen{
  
    min-height: 80vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
  
      .register-screen-container{
  
          max-width: 50rem;
          margin:0 auto;
          display:flex;
          flex-direction: column;
          gap:3.2rem;
  
        .heading{
          font-size: 2.4rem;
          font-weight: 500;
          color:var(--primary-color);
  
        }     
  
          .input-field {
            position: relative;
            width: 38rem;
            height: 4.4rem;
            line-height: 4.4rem;
            margin-bottom: 2rem;
          
              label {
                font-size: 2rem;
                font-weight: 400;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                color: var(--grey);
                transition: 0.2s all;
                cursor: text;
                // padding-bottom: 1.2rem;
                
              }
              input {
                width: 100%;
                border: 0;
                outline: 0;
                padding: 0.5rem 0;
                border-bottom: 2px solid black;
                box-shadow: none;
                color: #111;
                padding-bottom: 1rem;

              }
              input:invalid {
                outline: 0;
                // color: #ff2300;
                //   border-color: #ff2300;
              }
              input:focus,
              input:valid {
                font-size: 2rem;
                padding-top:1.6rem;
                border-color: var(--primary-color);
              }
              input:focus~label,
              input:valid~label {
                font-size: 1.4rem;
                font-weight:500;
                top: -2.4rem;
                color: var(--primary-color);
              }
  
         }
  
         .btn{
           background-color: var(--primary-color);
           font-size:1.8rem;
         }
  
        .new-user{
  
          display:flex;
          align-items:center;
          
          span{
            font-size:2rem;
            font-weight: 500;
            margin-right:1.4rem;
          }
  
          .btn-primary{
            font-size: 1.8rem;
            color:var(--primary-color);
            border-color: var(--primary-color);
          }
        }    
  
  
        
  
  
  
  
            
   
      }
  }