.editor{
    height:10rem;
    font-size:3rem !important;
    // background-color: var(--background-color);
    
}

.toolbar{
    height:5rem;
    font-size:3rem !important;
    // background-color: var(--background-color);
    
}

.custom{
    font-size:3rem !important;
    // padding:2rem !important;
}